* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/banner.jpg");
    background-color: #607d8b;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    font-family: "Poppins";
}

.login-content {
    width: 450px;
    padding: 10px;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.login-content__img {
    width: 120px;
}

.login-content__title {
    color: #607d8b;
    font-size: 38px;
    margin-bottom: 1em;
}

.login-content__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.login-content__form__item__group {
    display: flex;
}

.login-content__form__item__group__name {
    margin-left: 10px;
}

.login-content__form__item__input {
    border: 1px solid;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.login-content__form__item__input:focus {
    background: #d0e4ee;
}

.login-content__form__button-login {
    padding: 15px 15px;
    background: #7ac0e4;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

.login-content__form__button-login:hover {
    background: #619ebd;
}

@media screen and (max-width:500px) {
    body {
        padding: 20px;
    }

    .container {
        width: 100%;
    }
}