@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2em;
    min-height: 100%;

}

.grid-container > * {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: -1px 1px 7px 1px #ABC9FF;
}

/*mobile first*/
.grid-container{
    display: grid;
    gap: 10px;
    grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 100px
    "footer" 100px;
}