@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2em;
    min-height: 100%;

}

.grid-container > * {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: -1px 1px 7px 1px #ABC9FF;
}

/*mobile first*/
.grid-container{
    display: grid;
    gap: 10px;
    grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 100px
    "footer" 100px;
}

/*Asignando áreas de grid */
.header{
    grid-area: header;
    background-color: #94B49F;
}

.navbar{
    grid-area: navbar;
    background-color: #CEE5D0;
}

.main{
    grid-area: main;
    background-color: #FCF8E8;
}

.sidebar{
    grid-area: sidebar;
    background-color: #ECB390;
}

.footer{
    grid-area: footer;
}

/*tablet responsive*/
@media (min-width:600px){
    .grid-container{
        grid-template: 
        "header header" 100px
        "navbar navbar" 50px
        "sidebar main"  auto
        "footer footer" 100px  /
        200px   auto;
    }
}

/*desktop responsive*/
@media (min-width:900px) {
    .grid-container{
        grid-template:
         "header  header header" 100px
         "navbar  main   sidebar" auto
         "footer footer  footer" 100px /
          200px   auto   200px ;
    }
}



